.coding-profile-section {
    width: 90%;
    margin-inline: auto;
}

.profile-card {
    transition: all 0.3s ease-in-out;
}

.profile-card:hover {
    transform: translateY(-10px);
}

.profile-logo {
    height: 100px;
    width: 100px;
}

.profile-name {
    margin-top: 5px;
    font-family: "Ubuntu";
    font-weight: 900;
    font-size: 1.5rem;
    color: #000;
}



/** mobile view css */
@media all and (max-width: 786px) {
    .profile-logo {
        height: 60px;
        width: 60px;
    }

    .profile-name {
        font-size: 1.2rem;
    }
}