@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald:wght@500&family=Ubuntu:wght@300&display=swap');

:root {
    --primary-app-color : #02203c;
    --secondary-app-color : #001528;
    --standout-color : #fffb00;
}

span{
    font-family: "Ubuntu";
}

.App {
}

*   {
    padding: 0;
    margin: 0;
}


.section-header{
    font-family: "Ubuntu";
    font-weight: 800;
    font-size: 3.5rem;
    text-decoration: underline;
    letter-spacing: 2px;
    text-align: center;
}

.section-sub-header{
    font-family: "Ubuntu";
    font-weight: 700;
    font-size: 1.3rem;
    opacity: 0.8;
    text-transform: capitalize;
    text-align: center;
}


